<style>

.list--inline dt {
  font-weight: normal;
}

.card--no-border {
  border: none;
}

.card--gray {
  background-color: #f5f5f5;
  margin-bottom: 1em;

}

.valert {
  background-color: #f5f5f5;
  border-bottom-right-radius: 2px;
  border-left: 4px solid #ddd;
  border-top-right-radius: 2px;
  padding: .5em 1em;
  position: relative;
}

.card--gray .valert { background-color: #fff; }

.valert::before {
  background-color: #ddd;
  border-radius: 100%;
  color: white;
  content: "!";
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  left: -12px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 20px;
}
.valert.bug {
  border-left-color: #e2624f;
}
.valert.bug::before {
  background-color: #e2624f;
}
.valert.bug.trivial::before {
  background-color: #efa89e;
}
.valert.bug.trivial {
  border-left-color: #efa89e;
}
.valert.bug.minor::before {
  background-color: #e88576;
}
.valert.bug.minor {
  border-left-color: #e88576;
}
.valert.proposal {
  border-left-color: #ffae3d;
}
.valert.proposal::before {
  background-color: #ffae3d;
}
.valert.enhancement {
  border-left-color: #21aabd;
}
.valert.enhancement::before {
  background-color: #21aabd;
}
</style>

<div class="clearfix has-cards hero">
  <div class="clearfix wrap">
    <dl class="card card--shadow col-md--fourcol col--centered list list--inline epsilon">

      <ng-controller data-ng-controller="SystemsStatusController as sc" data-repository="electronic-resources">
        <dt><a class="link link--undecorated" ng-href="status/electronic-resources">Electronic Resources</a></dt>
        <dd>{{ sc.statusMajor ? 'Major Issue' : ( sc.statusMinor ? 'Minor Issue' : 'Online' ) }}</dd>
        <dd class="no-margin small-text" style="border-bottom: 1px solid #ddd; padding-bottom: .5em;">Databases, Full Text Finder</dd>
      </ng-controller>

        <ng-controller data-ng-controller="SystemsStatusController as sc" data-repository="libguides">
          <dt><a class="link link--undecorated" ng-href="status/libguides">LibApps</a></dt>
          <dd>{{ sc.statusMajor ? 'Major Issue' : ( sc.statusMinor ? 'Minor Issue' : 'Feelin\' Springy' ) }}</dd>
          <dd class="no-margin small-text" style="border-bottom: 1px solid #ddd; padding-bottom: .5em;">LibGuides, LibWizard</dd>
        </ng-controller>

        <ng-controller data-ng-controller="SystemsStatusController as sc" data-repository="novacat">
          <dt><a class="link link--undecorated" ng-href="status/novacat">NovaCat</a></dt>
          <dd>{{ sc.statusMajor ? 'Major Issue' : ( sc.statusMinor ? 'Minor Issue' : 'Purring along' ) }}</dd>
          <dd class="no-margin small-text">Catalog, Find It</dd>
        </ng-controller>

    </dl>
  </div>
</div>

<ng-controller data-ng-controller="IssuesController as ic">
  <ng-if data-ng-if="ic.issues">
    <div class="clearfix hero wrap">
      <div class="col-md--fourcol">
        <nav role="navigation">
          <ul>
            <li><a ng-href="/status/{{ ic.repository }}/?state=open">Open</a></li>
            <li><a ng-href="/status/{{ ic.repository }}/?state=resolved">Resolved</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md--eightcol">
        <ng-repeat data-ng-repeat="issue in ic.issues" data-ng-if="ic.issues">
          <article class="card card--no-border card--gray" style="background-color: #f5f5f5;">
            <ng-if data-ng-if="issue.content.raw">
              <h2 class="epsilon" style="margin-bottom: .25em;">{{ issue.title }}</h2>
              <p class="small-text"><b>{{ issue.updated_on | date: 'longDate' }}</b> | {{ issue.state }}</p>
              <p class="no-margin valert zeta" data-ng-class="[issue.kind, issue.priority]" data-ng-if="issue.content.raw">
                {{ issue.content.raw }}
              </p>
            </ng-if>

            <ng-if data-ng-if="!issue.content.raw">
              <h2 class="no-margin valert zeta" data-ng-class="[issue.kind, issue.priority]" style="line-height: 1.5;">
                <b class="small-text">{{ issue.updated_on | date: 'longDate' }}</b> {{ issue.title }}
              </h2>
            </ng-if>
          </article>
        </ng-repeat>

        <article data-ng-if="ic.issues.length == 0">
          Looks like everything is running smoothly.
        </article>
      </div>
    </div>
  </ng-if>
</ng-controller>
